#jira-content-create-issue-form .issue-preview .issue-container .issue-content .issue-summary {
    height: 20px;
    width: 310px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    vertical-align:top;
    color: #707070;
}

#jira-content-create-issue-form .select-container .select2-choice span {
    max-height: 20px;
}

#jira-content-create-issue-form .textarea {
    margin-bottom: 5px;
}