#jira-content-dialog-target {
    position: absolute;
    z-index: -9999;
}

#jira-content-create-issue-form .header {
    padding-bottom: 30px;
}


#jira-content-create-issue-form .main-field {
    padding-bottom: 10px;
}

#jira-content-create-issue-form .main-field .select{
    height: 25px;
}

#jira-content-create-issue-form .text,
#jira-content-create-issue-form .textarea {
    max-width: 360px;
}

#jira-content-create-issue-form .textarea {
    height: 80px;
    display: block;
}

#jira-content-create-issue-form .text-suggestion {
    background-color: #eee;
    border-top: 1px solid #ccc;
    height: 65px;
    margin: 20px 0 -30px -20px;
    padding: 10px 20px 0px 20px;
    width: 100%;
}

#jira-content-create-issue-form .text-suggestion .aui-icon{
    padding-right: 10px;
}

#jira-content-create-issue-form .left-position {
    float: left;
}

#jira-content-create-issue-form .left-position h2 {
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 0;
    width: 170px;
    overflow: hidden;
}

#jira-content-create-issue-form #text-suggested-link {
    padding-top: 10px;
    padding-left: 25px;
}

#jira-content-create-issue-form .dialog-header {
    padding-bottom: 5px;
}

#jira-content-create-issue-form .servers {
    float: right;
    height: 25px;
    margin-right: 120px;
}

#jira-content-create-issue-form #s2id_jira-servers > a > span > span:before {
    padding-right:2px;
    content: AJS.I18n.getText('createjiracontent.dialog.form.header.servers.title');
}

#jira-content-create-issue-form .servers div.select {
    position: absolute;
    right: 0;
    box-shadow: none;
    text-align: right;
}

#jira-content-create-issue-form .servers .select2-choice {
    background: transparent;
    border-color: transparent;
    color: #707070;
}

#jira-content-create-issue-form .servers .select2-choice:hover {
    box-shadow: none;
    background: #f7f7f7;
    background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background:    -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background:     -ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background:      -o-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background:         linear-gradient(to bottom, #fff 0%, #f7f7f7 100%);
    border-color: #999;
    color: #000;
    text-decoration: none;
}

#jira-content-create-issue-form .servers .select2-dropdown-open .select2-choice {
    background-image: none;
    background-color: #f2f2f2;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.1);
    text-shadow: none;
    text-decoration:none;
    color: #000;
    border-color: #999;
}

#jira-content-create-issue-form .aui-select2-container {
    border: 0;
    padding: 0;
    position: relative;
}

#jira-content-create-issue-form .aui-select2-container > a {
    left: 0;
    position: absolute;
}

#inline-dialog-create-issue-dialog .aui-bottom-arrow-color:after {
    border-top-color: #EEE;
}

.servers-dropdown {
    min-width: 120px;
}

#select2-drop.projects-dropdown,
#select2-drop.issue-types-dropdown {
    margin-top: 5px;
    min-width: 360px;
}

#jira-content-create-issue-form .error{
    clear: both;
    color: #D04437;
    display: block;
    margin: 5px 0 0 0;
}

#jira-content-create-issue-form .issue-preview .preview-message {
    margin-bottom: 5px;
}

#jira-content-create-issue-form .issue-preview {
    padding-bottom: 5px;
}

#jira-content-create-issue-form .issue-preview .issue-container {
    border-radius: 5px;
    margin: 0 0 0 11px;
    position: relative;
    display: block;
}

#jira-content-create-issue-form .issue-preview .issue-container .icon {
    height: 16px;
    width: 16px;
}

#jira-content-create-issue-form .issue-preview .issue-container .ico-left {
    display: inline-block;
    padding-right: 2px;
    opacity: 0.7;
}

#jira-content-create-issue-form .issue-preview .issue-container .issue-content {
    padding-bottom: 4px;
    display: inline-block;
}

#jira-content-create-issue-form .issue-preview .issue-container .issue-content .issue-summary {
    display: inline-block;
    overflow: hidden;
    max-width: 310px;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align:top;
    color: #707070;
}

#jira-content-create-issue-form #issue-remaining {
    margin: 0 0 5px 11px;
}

#jira-content-create-issue-form .field-content span.project-spinner {
    left: 346px;
    position: absolute;
    top: 12px;
}

#jira-content-create-issue-form .aui-select2-container.select2-container-disabled .select2-choice {
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #ccc;
    color: #999;
    cursor: not-allowed;
}

#jira-content-create-issue-form #form-spinner {
    left: 75px;
    margin-top: 8px;
    position: absolute;
}

#jira-content-create-issue-form .select-container .aui-button > span {
    word-wrap: normal;
}

#jira-content-create-issue-form .create-issue-cancel {
    padding-left: 10px;
}

.aui-message.jira-issues-created {
    display: block;
    left: 0;
    margin: 15px auto auto;
    position: fixed;
    right: 0;
    width: 45%;
    z-index: 99;
}

.aui-message.jira-issues-created p.title {
    font-weight: normal;
}

#jira-content-create-issue-form .issue-messages {
    clear:both;
}

#jira-content-create-issue-form .oauth-link-text-message {
    padding-bottom: 20px;
}

.select2-container .select-option-image,
.select2-results .select-option-image {
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.select2-results .aui-avatar-project {
    margin-right: 5px;
}

.select2-chosen .select-option,
.select2-results .select-option {
    vertical-align: middle;
}

.select2-chosen .aui-avatar-project{
    margin-left: 1px; /* fix lack one pixel */
}

#jira-content-create-issue-form .summary-stored-value {
    padding-bottom: 15px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#jira-content-create-issue-form .summary-stored-value .info {
    max-width: 350px;
}

#jira-content-create-issue-form .summary-stored-value a {
    vertical-align: middle;
    padding-left: 10px;
}

#jira-content-create-issue-form .summary-stored-value .info span,
#jira-content-create-issue-form .summary-stored-value .info img {
    vertical-align: middle;
}

#jira-content-create-issue-form .summary-stored-value .project-name,
#jira-content-create-issue-form .summary-stored-value .issue-type{
    padding-left: 3px;
    height: 20px;
    display: inline-block;
}

#jira-content-create-issue-form .summary-stored-value .project-name {
    max-width: 195px;
}

#jira-content-create-issue-form .summary-stored-value .issue-type {
    max-width: 85px;
}


#prepare-issue-messages {
    margin-bottom: 10px;
}


#jira-content-create-issue-form #create-issue-form-messages {
    padding-bottom: 10px;
}

#jira-content-create-issue-form #form-message-spinner {
    left: 175px;
    margin-top: 8px;
    position: absolute;
}

#jira-content-create-issue-form #form-message {
    left: 197px;
    margin-top: 6px;
    position: absolute;
    font-size: 12px;
    color: #707070;
}
